<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="/js/cadastroFrota/listarDatasEspecificas.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
<link rel="stylesheet" href="/css/listarFrotas/listarFrotas.css">

<script src="/js/cadastroFrota/excluirFrota.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">

<%
function primeiraLetraDosNomesEmMaiusculo(texto) {
    if (!texto) 
        return '';
    return texto.toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
}
%>


<header>
    <form>
        <div class="row g-3 d-flex" style="align-items: center;">
            
        
            <div class="col" id="exportExcel" >
                <button id="excel" class="btn btn-success" ><i class="fas fa-file"></i> Exp. Excel</button>
            </div>

                 
            <div class="col">
                <input type="number" hidden value="<%= usuario.id %>" id="idPerfil" name="idPerfil">
                <!-- <input type="date" class="form-control input1" placeholder="Primeira Data" aria-label="Primeira Data" id="primeiraData" name="primeiraData"> -->
                <input type="text" id="primeiraData" placeholder="DD/MM/YYYY" class="form-control input1" name="primeiraData">
            </div>
            
            <div class="col">
                <span class="ate">-</span>
            </div>

            <div class="col">
              <!-- <input type="date" class="form-control input2" placeholder="Segunda Data" aria-label="Segunda Data" id="segundaData" name="segundaData"> -->
              <input type="text" id="segundaData" placeholder="DD/MM/YYYY" class="form-control input2" name="segundaData">
            </div>
    
            <div class="col">
                <button type="button" id="btn-add" class="btn btn-secondary botao-search"><i class="fa-solid fa-magnifying-glass"></i> <span class="pesquisar">Pesquisar</span> </button>
            </div>
            
          </div>
          
    </form>
   
</header>

<div class="table-responsive">
    
    <table class="table table-hover" id="exportarExcel">
        
        <thead>
            <tr>
                <th title="Data">Data</th>
                <th title="Origem">Orig.</th>
                <th title="Destino">Dest.</th>
                <th title="Frete">Frete</th>
                <th title="Material">Mat.</th>
                <th title="Peso">Peso</th>
                <th title="Motorista">Mot.</th>
                <th title="Transportadora">Transp.</th>
                <th title="Adiantamento">Adiant.</th>
                <th title="Data Adiantamento">Dt. Adiant.</th>
                <th title="Comissão">Comissão</th>
                <th title="Valor Viagem">Vl. Viagem</th>
                <th title="Ações">Ações</th>
                <th title="Salário">Sal.</th>
                <!-- <th title="Valor Total Viagem">Vl. Total</th> -->
            </tr>
        </thead>

        <tbody id="filtroBuscaDataEspecifica">

            <% for(let i=0;i<frotas.length;i++) { %>
                <!-- formatação da data para esse modelo "00/00/0000" -->
                <% if (frotas[i].data) { %>
                    <% 
                        const dataNascimento = new Date(frotas[i].data); 
                        const dia = String(dataNascimento.getDate()).padStart(2, '0'); 
                        const mes = String(dataNascimento.getMonth() + 1).padStart(2, '0');
                        const ano = dataNascimento.getFullYear();
                        frotas[i].data = `${dia}/${mes}/${ano}`;
                    %>
                <% } %>

                <% if (frotas[i].data_adiantamento != null) { %>
                    <%
                        // transformando a data do adiantamento no modelo = 00/00/0000
                        const dataAdiantamento = new Date(frotas[i].data_adiantamento); 
                        const diaa = String(dataAdiantamento.getDate()).padStart(2, '0'); 
                        const mess = String(dataAdiantamento.getMonth() + 1).padStart(2, '0');
                        const anoo = dataAdiantamento.getFullYear();
                        frotas[i].data_adiantamento = `${diaa}/${mess}/${anoo}`;
                    %>
                <% }  %>
                   
            
                    
                <% 
                    let comissao = frotas[i].valor_viagem * 8 / 100;
                %>

                <% const valorViagem = Number(frotas[i].valor_viagem).toFixed(2).replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, "."); %>
                <!-- const valorTotalViagem = Number(frotas[i].valor_total_viagem).toFixed(2).replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, "."); -->
                <% const valorFrete = Number(frotas[i].frete).toFixed(2).replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, "."); %>
                <% const valorComissao = Number(comissao).toFixed(2).replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, "."); %>
                <% const valorAdiantamento = Number(frotas[i].adiantamento).toFixed(2).replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, "."); %>

                
                <tr>
                    <td><%= frotas[i].data %></td>
                    <td><%= primeiraLetraDosNomesEmMaiusculo(frotas[i].origem) %></td>
                    <td><%= primeiraLetraDosNomesEmMaiusculo(frotas[i].destino) %></td>
                    <td>R$ <%= valorFrete %></td>
                    <td><%= primeiraLetraDosNomesEmMaiusculo(frotas[i].material) %></td>
                    <td><%= frotas[i].peso %> Kg</td>
                    <td><%= primeiraLetraDosNomesEmMaiusculo(frotas[i].motorista) %></td>
                    <td><%= primeiraLetraDosNomesEmMaiusculo(frotas[i].transportadora) %></td>

                    <!-- para deixar a tabela limpa se não houver adiantamento nessa linha da tabela -->
                    <% if(frotas[i].adiantamento == 0 ) { %>
                        <td></td>
                    <% } else { %>
                        <td style="color: lightcoral;">R$ -<%= valorAdiantamento %></td>
                    <% }%>

                    <td><%= frotas[i].data_adiantamento %></td>
            
                    <td style="color: rgb(98, 168, 98);">R$ +<%= valorComissao %> </td>
                    <td>R$ <%= valorViagem %></td>
                    <!-- <td>R$  valorTotalViagem </td> -->
                    <td>
                        <button type="button" class="btnExcluir" data-codigo="<%= frotas[i].id %>" style="border: none; background-color: transparent;"><i class="fas fa-trash" style="color: lightcoral; "></i></button>
                        <a href="/frotas/alterar/<%= frotas[i].id %>"><i class="fas fa-edit" style="color: lightskyblue;"></i></a>
                    </td>
                </tr>
            <% } %>
       
        </tbody>

    </table>
</div>

<script src="/js/cadastroFrota/date.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
